@import url("/css/template.css");

#sliderbg{
    display: inline-block;
    width: 100%;
    height: 250px;
    background-color: #d6e6cbff;
    vertical-align: middle;
    line-height: 260px;
    position: relative;
}

#slider{
    display: inline-block;
    width: 800px;
    height: 360px;
    background-color: #1a1a1aff;
    margin-top: -55px;
    position: relative;
}

.slider{
    list-style: none;
}

.slider li{
    list-style: none;
    position: absolute;
    left: 50%;
}

.slider li img{
    transform: translate(-50%,0);
}

.slider input {
    display: none;
}

.slider label {
    background-color: #000;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    z-index: 1;
    width: 10px;
    margin-bottom: 120px;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
   left: 70px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.prev, .next{
    position: absolute;
    text-align: center;
    opacity: 50%;
    margin-top: 1%;
}

.next {
margin-left: 15px;


}

.prev {
margin-left: -58px;
}

.prev:hover, .next:hover{
    opacity: 100%;
    cursor: pointer;
}

.prev img{
    transform: scaleX(-1);
}

#row{
    display: flex;
    width: 100%;
    height: 70%;
    background-color: #d6e6cbff;
}

#colu1, #colu2, #colu3{
    display: block;
    margin-left: 4.8%;
    position: relative;
    transform: translate(0,10%);
    height: 524px;
    width: 26%;
    border: 8px solid #488123ff;
    background-color: #5aa02cff;
    text-align: center;
}

.coluimg{
    top: 1.2%;
    left: 50%;
    transform: translate(-50%,0);
    position: absolute;
    width: 93%;
    height: 232px;
    background-color: white;
    border: 8px solid #d6e6cbff;
    object-fit: cover;
}

#colu1 h1, #colu2 h1, #colu3 h1{
    font-family: Yu Gothic;
    color: white;
    max-width: 100%;
    max-height: 220px;
    font-weight: bold;
    word-wrap: break-word;
}

#colu1 h2 a, #colu2 h2 a, #colu3 h2 a{
    font-family: Yu Gothic;
    color: #3b691dff;
    text-decoration: none underline;
}

.shit{
    word-wrap: break-word;
}