#tela {
    width: 100%;
    height: auto;
    margin-left: -15px;
    overflow: hidden;
    margin: auto;
}

#headerph {
    width: 100%;
    height: 124px;
    position: relative;
}

#cabecalho {
    background-image: url("/img/cabecalho.png");
    background-color: white;
    background-size: 100%;
    width: 100%;
    height: 114px;
    margin-top: -10px;
    padding-top: 10px;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-y: left;
    position: sticky;
}

#menu {
    width: 99,5%;   
    height: 40px;
    position: absolute;
    margin-left: 8px;
    margin-right: auto; 
    margin-top: -5px;
}

.links{
    margin-left: 30px;
    margin-top: 3px;
    vertical-align: middle;
}

.links a{
    font-family: Yu Gothic;
    color: #7ecd4bff;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none; 
    margin-inline-end: 80px;
}

input[type=text]{
    position: relative;
    width: 40%;
    height: 23px;
    border: solid #5aa02cff;
    background-color: white;
    font-family: Nirmala UI;
    font-size: 20px;
    color: black;
    position: absolute;
}

input[type=submit]{
    background:url("/img/lupa.png");
    width: 19px;
    height: 24px;
    border: 0;
    cursor: pointer;
    position: absolute;
    margin-left: 38.5%;
    margin-top: 4px;
}

#content {
    width: 100%;
    height: fit-content;
}

#retangulo {
    position: relative;
    display:inline-block;
    width: 50%;
    height: 130px;
    background-color: #5aa02cff;
    margin-top: 80px;
    margin-left: 25%;
    border: solid #488123ff;
}

#retangulo img {
    position: absolute; 
}

#rodape{
    position: relative;
    width: 100%;
    height: 70px;
    background-color: #42513aff;
    align-self: flex-start;
    font-family: Arial;
    font-size: 12px;
    color: white;
}

.rodapeinfo{
    position: relative;
    padding-top: 15px;
    margin-left: 10px;

}

.rodapeinfo2{
    position: relative;
    text-align: right;
    margin-top: 15px;
    margin-right: 10px;
    padding-bottom: 5px;
}

.column {
    float: left;
    height: 70px;
    width: 50%;
}
 
.divisao {
    float: left;
    height: 70px;
    width: 20%;
}
h2 {
    position: relative;
    margin-top: -5px;
    margin-left: 20px;
    font-family: YU Gothic;
    font-size: 30px;
    color: white
}

h3 {
    position: relative;
    margin-top: -20px;
    margin-left: 45px;
    font-family: YU Gothic;
    font-size: 25px;
    color: white
} 

h4 {
    position: relative;
    margin-top: 25px;
    margin-left: 20px;
    font-family: YU Gothic;
    font-size: 30px;
    color: white
} 

h5 {
    position: relative;
    margin-top: -40px;
    margin-left: 45px;
    font-family: YU Gothic;
    font-size: 25px;
    color: white
}

#redretangulo {
    position: relative;
    display:inline-block;
    width: 45%;
    height: auto;
    background-color: rgb(229, 236, 225);
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-left: 27.4%;
    border: solid #b1e192ff;
}

#redfix {
    position: relative;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}